<!doctype html>
<html class="legacyfalse chrometwo">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/chrome_themes/nimbus/css/chrometwo.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="all" href="/webassets/avalon/s/labs/labs.css">
    <link href="<%- STYLE_URL%>" rel="stylesheet" />
    <script type="text/javascript" src="/webassets/avalon/j/lib/require.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Start | Red Hat Access</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script>
        // Bounce early if we don't find a cookie
        if (!document.cookie.match(/rh_user=./)) {
            window.location = ('/login?redirectTo=' + window.location);
        }
    </script>
</head>
<body>
<div id="chrometwo">
    <div id="chromed-app-content">
        <div class="start-main-content">
            <div id="content">
                <%- body %>
            </div>
        </div>
    </div>
</div>
<% if (ENV == 'development' && COMMONS_URL) { %>
<script type="text/javascript" src="<%- COMMONS_URL %>"></script>
<% } %>
<script type="text/javascript">
    // Required!
    breadcrumbs = [['Labs', '/labs/'], ['JVMPeg', '/lab/jvmpeg/']];

    chrometwo_require([], function () {
        //require.s.contexts._.config.urlArgs = "bust=#{uid}";
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = '<%- SCRIPT_URL %>';
        document.body.appendChild(script);
    });
</script>
</body>
</html>
